body{
  background-color: hsl(30, 38%, 92%);
}

.main{
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  height: 450px;
  margin:10% auto;
  border-radius: 2%;
}

.image{
  width: 50%;
  height: 100%;
  border-radius: 2% 0 0 2%; /*Because i needed border for only left side so i used 0 for no radius on other sides*/
  float: left;
}

.content{
  float: left;
  margin: 20px 35px;
}

.p1{
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  letter-spacing: 3px;
}

.p2{
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  line-height: 30px;
  font-size: 30px;
}

.p3{
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 22px;
}

.first_amt{
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
}

.second_amt{
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-decoration: line-through;

  position: relative; /*I used it because i wanted to bring text little upwards*/
  bottom: 5px;
  left: 10px;
}

.btn{
  width: 100%;
  height: 45px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  text-align: center;
  justify-content: center; /*by using this my both icon and text coming in center*/
  display: flex;  /*If i dont use it then my icon and text wont come in same line it becomes like a block level elemnt taking the entire line so i used it to bring together*/
}

.btn:hover{
  background-color: #0F3325;
}

.btn_text{
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: bold;
  margin: 15px;
  font-family:sans-serif;
}
a{
  text-decoration: none; /*to remove a line which comes when we add a link and it didnt worked on .btn_text so i used here */
}
.icon{

  padding: 15px;
  padding-right: 0;
  width: 15px;
  height: 15px;

}

/* I used almost all of values in pixels because it was not coming properly when we zoom in so i changed my code to pixels from vh/vw/%  */
